* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
}



span {
    color: hsl(277, 64%, 61%);
}

p {
    font-size: 0.75rem;
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.3rem;
}

.container {
    width: 70%;
    margin: 3em auto;
    text-align: center;
    background-color: hsl(244, 38%, 16%);
    color: white;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap;
    overflow: hidden;


}

.hero {
    position: relative;
    /* border: 1px solid salmon; */
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero span {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    background-color: hsl(277, 64%, 61%, 0.4);
}

.info__main {
    max-width: 100%;
    padding: 2em;
    gap: 2rem;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    /* gap: 2rem; */
}

.row {
    flex-direction: row;
}

.project {

    font-size: .8rem;
    flex-direction: column;
    line-height: 1.5rem;
    gap: 1rem;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 700px) {
    .container {
        max-width: 900px;
        text-align: start;
        align-content: flex-start;
        flex-direction: row-reverse;

    }

    .hero img {
        display: none;
    }

    .hero {
        width: 50%;
        background-image: url(/images/image-header-desktop.jpg);
        background-size: cover;
    }

    .info__main {
        width: 50%;
        padding: 3rem;
    }

    .project {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 2rem;

    }

}